.carousel-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.custom-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 40px 8px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid gold;
  cursor: pointer;
}

.custom-dot:hover {
  background: #e31837;
}

.custom-dot.active {
  background: #ffb80e;
}

.custom-dots {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 16px 0;
}

.react-multi-carousel-list {
  position: relative;
}

.react-multi-carousel-track {
  overflow: hidden;
}

.react-multiple-carousel__arrow {
  display: none;
}
