@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gray-color {
    background-color: #f7fafc;
  }
  .primary-background {
    background-color: #e31837;
  }
  .primary-text-color {
    color: #e31837;
  }
  .gold-background {
    background-color: #ffb80e;
  }
}

@font-face {
  font-family: 'integral-heavy'; 
  src: url('./fonts/integral/Fontspring-DEMO-integralcf-heavy.otf') format('truetype'), 
}
@font-face {
  font-family: 'integral-bold'; 
  src: url('./fonts/integral/Fontspring-DEMO-integralcf-bold.otf') format('truetype'), 
}
@font-face {
  font-family: 'integral'; 
  src: url('./fonts/integral/Fontspring-DEMO-integralcf-regular.otf') format('truetype'), 
}

@font-face {
  font-family: 'helvetica'; 
  src: url('./fonts/helvetica/Helvetica.ttf') format('truetype'), 
}
@font-face {
  font-family: 'tungsten'; 
  src: url('./fonts/Tungsten/561f38b1f4570de0fb8a39d691ab058c.ttf') format('truetype'), 
}
@font-face {
  font-family: 'tungsten-light'; 
  src: url('./fonts/Tungsten/Tungsten-Light.ttf') format('truetype'), 
}

.tungsten{
  font-family: 'tungsten';
}
.tungsten-light{
  font-family: 'tungsten-light';
}

.helvetica{
  font-family: 'helvetica';
}

.integral-bold{
  font-family: 'integral-bold';
}
.integral-heavy{
  font-family: 'integral-heavy';
}
.integral{
  font-family: 'integral';
}

.gray-background{
  background-color: #f7fafc;
}
.primary-color{
  background-color: #e31837;
}